* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1a1a1d;
  line-height: 75px;
}
.header__title {
  color: gold;
}

.header-nav {
  color: white;
}

.header-nav__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-nav__item {
  list-style-type: none;
  list-style-position: inside;
  padding-right: 50px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.header-nav__link {
  color: inherit;
  font-size: 2.2em;
  text-decoration: none;
}
