*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box {
	width: 20em;
	height: 10em;
	border: 1px solid black;
	margin: 2rem;
	border-width: 0.3em;
	display: block;
}
.sub {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	margin: 1rem;
	&__box {
		border: 1px dashed green;
		width: 12em;
		height: 6em;
		font-size: 1.2rem;
		text-align: center;
		margin: 1rem;
	}
}
